version: '3.7'
services:
  postgres:
    image: postgres:14
    ports:
      - '5434:5432'
    environment:
      POSTGRES_DB: ai-api
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres

  redis:
    image: redis
    ports:
      - 6378:6379
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 10s
      timeout: 30s
      retries: 3
